html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  width: 33.33%;
  height: 100%;
  float: left;
}

.blue{
  background-color: #4A90E2;
}

.teal {
  background-color: #50E3C2;
}

.puke {
  background-color: #B8E986;
  height: 70%;
}

.red {
  background-color: #D0021B;
  height: 30%;
  text-align: center;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
}
